@page "/blazor/navigate"

<h1>Navigator</h1>

@inject NavigationManager NavigationManager

<button class="btn btn-primary" @onclick="NavigateToTest1">
    Navigate to Test1
</button>
<button class="btn btn-primary" @onclick="NavigateToTest2">
    Navigate to Test2
</button>

@code {
    private void NavigateToTest1()
    {
        NavigationManager.NavigateTo("/blazor/test1");
    }
    private void NavigateToTest2()
    {
        NavigationManager.NavigateTo("/blazor/test2");
    }

}
